{% load static %}
<footer class="mt-auto bg-white shadow">
  <div class="container py-md-5">
    <div class="row">
      <div class="col-12 col-xl-3 d-none d-xl-block">
        <span style="font-size: 1.25rem;">PythonJobs</span>
      </div>

      <div class="col-12 col-xl-9 pl-3 pl-xl-0">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="row align-items-start">
              <div class="col-12 col-md-6">
                <p><b>Roles</b></p>
                <ul class="ul-footer">
                  <li>Sr. Developer</li>
                  <li>Developer</li>
                  <li>Intern</li>
                  <li>Summer Intern</li>
                </ul>
              </div>

              <div class="col-12 col-md-6">
                <p><b>Requirements</b></p>
                <ul class="ul-footer">
                  <li>Minimum</li>
                  <li>Preferred</li>
                  <li>Extra</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row align-items-start">
              <div class="col-12 col-md-6">
              </div>

              <div class="col-12 col-md-6">
                <p><a href="https://pythonjobs.in/"><b>PythonJobs.in</b></a></p>
                <ul class="ul-footer">
                  <li>Support</li>
                  <li><a href="#" target="_blank">Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {% comment %}
        <div class="row align-items-center">
          <div class="col-12 col-md-9">
            <p class="d-sm-none"><b>Meta</b></p>
            <ul class="xcv-list-group xcv-list-group-horizontal-sm">
              <li class="list-group-item">
                <a href="#" target="_blank">
                  Sitemap
                </a>
              </li>
            </ul>
          </div>

          <div class="col-12 col-md-3 align-self-center">
            <div class="py-3">
              <span style="font-size: 24px;">
                <a href="https://linkedin.com/company/pythonjobs/" rel="nofollow" target="_blank">
                  <i class="fab fa-linkedin pr-1"></i>
                </a>
                <a href="https://twitter.com/pythonjobs/" rel="nofollow" target="_blank">
                  <i class="fab fa-twitter px-1"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8">Copyright &copy; PythonJobs.in</div>
    </div>
  </div>
</footer>
